.custom-day {
    // text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
 
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
    width: 100% ;
    height: 100%;
    border-radius: 5px;
  }
  .custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
  .ngb-datepicker {
    width: 100% ;


}