<div class="container   mt-10 mx-auto relative">
  <!-- start form  -->
  <div [ngClass]="openList ?'  gotop' : ' MainPlace'"
    class=" px-6 z-50  static lg:absolute flex flex-col justify-start left-0 right-0 ">
    <h1 class="my-10  text-3xl text-white font-yekan-black">بلیط هواپیما</h1>
    <div *ngIf="!openList" class=" flex  ">
      <div class="grid grid-cols-3   mb-3">
        <div class=" w-full flex items-center justify-between bg-white  h-10 rounded-xl px-4  ">
          <span class="w-full">پرواز</span>
          <i class=" fa-fw  fa-solid text-slate-700  mx-2  fa-lg   fa-plane-departure"></i>
        </div>
        <!--  -->
        <div class=" flex items-center justify-between bg-slate-700  h-10 rounded-xl px-4 mr-2 ">
          <span class=" text-white">قطار</span>
          <i class="fa-solid mx-2 fa-lg text-white fa-train-subway"></i>
        </div>
        <!--  -->
        <div class=" flex items-center justify-between bg-slate-700  h-10 rounded-xl px-4 mr-2  ">
          <span class=" text-white">هتل</span>
          <i class="fa-solid mx-2 fa-lg  text-white  fa-couch"></i>
        </div>
        <!--  -->
      </div>
    </div>
    <div class=" ">
      <button *ngIf="openList" (click)="onOpenList()"><svg xmlns="http://www.w3.org/2000/svg"
          class="h-8 text-white  w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg></button>
    </div>
    <div class="bg-white rounded-xl p-3 w-full  ">
      <div [formGroup]="radioInputForm" class="flex mb-4 justify-start items-center">
        <div class="flex   justify-start items-center">
          <input class="mx-2" type="radio" value="oneWay" name="" id="" formControlName="radioInput">
          <label for="">یک طرفه</label>
        </div>
        <div class="mr-10 flex  justify-start items-center">
          <input class="mx-2" type="radio" name="" value="twoWay" id="" formControlName="radioInput">
          <label for="">دوطرفه</label>
        </div>
      </div>

      <div [formGroup]="PlaceForm" class="grid grid-cols-12 gap-3">

        <div class="col-span-12 lg:col-span-5 ">
          <div class="flex flex-col lg:flex-row justify-start relative ">
            <div
              class="flex flex-auto h-10  bg-gray-200 rounded-t-xl lg:rounded-xl p-2 items-center  justify-start relative">
              <span>
                <i class="fa-solid fa-lg opacity-50  fa-location-dot"></i>
              </span>
              <label>
                <input (focus)="onClickDestination()" autocomplete="off"
                  class=" w-full block  bg-transparent   text-gray-700    rounded-lg py-2 px-3  leading-tight focus:outline-none focus:bg-transparent "
                  id="grid-password" type="text" placeholder="مبدا را وارد کنید" formControlName="destination">
              </label>
            </div>
            <button (click)=" onChangeAmountInput()"
              class=" bg-slate-300 lg:bg-transparent   rounded-lg rotate-90 transition  duration-500 lg:rotate-0 top-1/2 -translate-y-3 lg:translate-y-0 lg:bottom-0 left-5 lg:right-0 absolute lg:relative  ">
              <i class=" py-1  fa-solid mx-2 fa-lg text-stone-600 lg:text-blue-600  fa-arrow-right-arrow-left "></i>

            </button>
            <div
              class="flex h-10 flex-auto bg-gray-200 rounded-b-xl lg:rounded-xl p-2 mt-px   items-center  justify-start">
              <span>
                <i class="fa-solid fa-lg opacity-50 fa-location-dot"></i>
              </span>
              <label>
                <input #orginInput autocomplete="off"
                  class=" w-full block  bg-transparent   text-gray-700  focus:border-gray-600  rounded-lg py-2 px-3  leading-tight focus:outline-none focus:bg-transparent "
                  id="grid-password" type="text" placeholder="مقصد را وارد کنید " formControlName="origin"
                  (focus)="onClickOrigin()">
              </label>
            </div>
            <!-- auto compelet -->
            <!-- [ngClass]="openlist? 'opacity-100 translate-x-0 visible':'opacity-0 translate-x-28'" -->
            <div *ngIf="openList" class=" mt-3  absolute z-50     rounded-lg w-80 bg-white top-full"
              [ngClass]="{'right-6 ':dropdownState=='right','right-60':dropdownState=='left'}">
              <!-- start header -->
              <div class=" p-4 pb-2 border-b w-full">
                <p class="text-sm text-gray-500">نتایج جستجو:</p>
              </div>
              <!-- end header -->
              <div class="grid grid-flow-col   h-60 overflow-y-scroll">
                <!-- start Inner cities -->
                <div class="  pt-3 grid grid-cols-1 text-center gap-4">
                  <div class="bg-gray-200 text-right">
                    <p class=" p-2 text-sm text-blue-700">شهر های پرتردد داخلی</p>
                  </div>
                  <span (click)='onSelectItem(city)' *ngFor="let city of Innercitys"
                    class=" select-none p-2 py-2 hover:bg-slate-300 rounded-lg   flex justify-start items-center">
                    <i class=" fa-xl fa-solid w-5 mx-2 text-green-500   fa-location-dot"></i>
                    {{city}}
                  </span>
                </div>
                <!-- start Inner cities -->
                <!-- start Foreign cities -->
                <div class=" pt-3 grid grid-cols-1 text-center gap-4">
                  <div class="bg-gray-200 text-right  ">
                    <p class="p-2 text-sm text-blue-700">شهر های پرتردد خارجی</p>
                  </div>
                  <p class=" select-none p-2 py-2 hover:bg-slate-300 rounded-lg   flex justify-start items-center"
                    *ngFor="let city of Foreigncitys" (click)='onSelectItem(city)'>
                    <i class=" fa-xl fa-solid w-5 mx-2 text-green-500   fa-location-dot"></i>
                    {{city}}
                  </p>
                </div>
                <!-- start Foreign cities -->
              </div>
            </div>
            <!-- auto compelet -->
          </div>
        </div>


        <div class="col-span-12 lg:col-span-3 ">


          <div class="flex h-10  bg-gray-200 rounded-xl p-2   items-center  justify-between">
            <span>
              <i class="fa-solid opacity-50 fa-lg fa-calendar-days"></i>
            </span>
            <label class="flex">
              <input
                class=" w-full px-3 block  bg-transparent   text-gray-700  focus:border-gray-600  rounded-lg py-2   leading-tight focus:outline-none focus:bg-transparent "
                id="grid-password" type="text" placeholder="تاریخ رفت">
            </label>
            <label>
              <input
                class=" w-full block  bg-transparent   text-gray-700   focus:border-gray-600  rounded-lg py-2  leading-tight focus:outline-none focus:bg-transparent "
                id="grid-password" type="text" placeholder="تاریخ برگشت">
            </label>
          </div>
        </div>



        <div class="col-span-12 lg:col-span-4 flex flex-wrap flex-col  lg:flex-row">
          <div class="flex-1 bg-white">

            <div class="flex w-full h-10 bg-gray-200 rounded-xl p-2   items-center ">
              <span>
                <i class="fa-solid fa-lg opacity-50 fa-user-group"></i>
              </span>
              <label class="flex">

                <input #passengerInput
                  class=" w-full pointer-events-none select-none px-3 block  bg-transparent   text-gray-700  focus:border-gray-600  rounded-lg py-2   leading-tight focus:outline-none focus:bg-transparent "
                  id="grid-password" type="text" value=" 1 مسافر">
              </label>
            </div>
          </div>

          <div class="flex-1 bg-white pt-3 lg:pr-3 lg:pt-0">
            <button
              class=" w-full py-2 px-6 h-10 rounded-lg  bg-gradient-to-tl from-orange-500 to-orange-300 text-white  hover:bg-gradient-to- text-lg ">جستجو</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end form  -->
  <!-- start background -->
  <div class=" hidden lg:block  relative -z-10">
    <figure>
      <img class=" mx-auto rounded-3xl " src="assets/backgrund/flight.jpg" alt="flight" width="1200" height="375"
        loading="lazy">
    </figure>
    <!-- end background -->
  </div>
  <div *ngIf="openList" class="opacity-50 hidden lg:block fixed inset-0 z-40 bg-slate-900 dark:bg-gray-500"></div>
</div>