.container {
    // display: block;

    max-width: 1200px;
    transition: width .3s;
}


input:-webkit-autofill {
    -webkit-background-clip: text;
}

.gotop {
    bottom: calc(100% * 200 / 500);
    transition: all .5s .3s cubic-bezier(.38,.005,.215,1),z-index .3s cubic-bezier(.38,.005,.215,1);
}
.MainPlace{
    bottom: calc(-100% * 50 / 500);
    transition: all .5s .3s cubic-bezier(.38,.005,.215,1),z-index .3s cubic-bezier(.38,.005,.215,1);
}