<div [formGroup]="PlaceForm" class="flex">
  <!-- start input Destination and origin -->
  <div class="flex w-2/6 justify-start  ml-2  ">
    <div class="flex  h-10  bg-gray-200 rounded-xl p-2 items-center  justify-start relative">
      <span>
        <i class="fa-solid fa-lg opacity-50 w-5 fa-location-dot"></i>
      </span>
      <label>
        <input (focus)="onClickDestination()" autocomplete="off"
          class=" block  bg-transparent   text-gray-700    rounded-lg py-2 px-3  leading-tight focus:outline-none focus:bg-transparent "
          id="grid-password" type="text" placeholder="مبدا را وارد کنید" formControlName="destination">
      </label>

    </div>
    <button><i class="fa-solid mx-2 fa-lg text-blue-600 fa-arrow-right-arrow-left"></i></button>
    <div class="flex h-10 flex-auto  bg-gray-200 rounded-xl p-2   items-center  justify-start">
      <span>
        <i class="fa-solid fa-lg opacity-50 fa-location-dot"></i>
      </span>
      <label>
        <input #orginInput autocomplete="off"
          class=" block  bg-transparent   text-gray-700  focus:border-gray-600  rounded-lg py-2 px-3  leading-tight focus:outline-none focus:bg-transparent "
          id="grid-password" type="text" placeholder="مقصد را وارد کنید " formControlName="origin"
          (focus)="onClickOrigin()">
      </label>
    </div>
    <!-- auto compelet -->
    <!-- [ngClass]="openlist? 'opacity-100 translate-x-0 visible':'opacity-0 translate-x-28'" -->
    <div *ngIf="openList" class=" mt-3  absolute z-50     rounded-lg w-80 bg-white top-full"
      [ngClass]="{'right-6 ':dropdownState=='right','right-60':dropdownState=='left'}">
      <!-- start header -->
      <div class=" p-4 pb-2 border-b w-full">
        <p class="text-sm text-gray-500">نتایج جستجو:</p>
      </div>
      <!-- end header -->
      <div class="grid grid-flow-col   h-60 overflow-y-scroll">
        <!-- start Inner cities -->
        <div class="  pt-3 grid grid-cols-1 text-center gap-4">
          <div class="bg-gray-200 text-right">
            <p class=" p-2 text-sm text-blue-700">شهر های پرتردد داخلی</p>
          </div>
          <span (click)='onSelectItem(city)' *ngFor="let city of Innercitys"
            class=" select-none p-2 py-2 hover:bg-slate-300 rounded-lg   flex justify-start items-center">
            <i class=" fa-xl fa-solid w-5 mx-2 text-green-500   fa-location-dot"></i>
            {{city}}
          </span>
        </div>
        <!-- start Inner cities -->
        <!-- start Foreign cities -->
        <div class=" pt-3 grid grid-cols-1 text-center gap-4">
          <div class="bg-gray-200 text-right  ">
            <p class="p-2 text-sm text-blue-700">شهر های پرتردد خارجی</p>
          </div>
          <p class=" select-none p-2 py-2 hover:bg-slate-300 rounded-lg   flex justify-start items-center"
            *ngFor="let city of Foreigncitys" (click)='onSelectItem(city)'>
            <i class=" fa-xl fa-solid w-5 mx-2 text-green-500   fa-location-dot"></i>
            {{city}}
          </p>
        </div>
        <!-- start Foreign cities -->
      </div>
    </div>
    <!-- auto compelet -->
  </div>
  <!-- end input Destination and origin -->
  <!-- start input time  -->
  <div class="flex  justify-start ml-2   ">

    <div class=" flex-auto flex h-10  bg-gray-200 rounded-xl p-2   items-center  justify-between">
      <span>
        <i class="fa-solid opacity-50 fa-lg fa-calendar-days"></i>
      </span>
      <label class="flex">
        <input
          class=" px-3 block  bg-transparent   text-gray-700  focus:border-gray-600  rounded-lg py-2   leading-tight focus:outline-none focus:bg-transparent "
          id="grid-password" type="text" placeholder="تاریخ رفت">
      </label>
      <label>
        <input
          class=" block  bg-transparent   text-gray-700   focus:border-gray-600  rounded-lg py-2  leading-tight focus:outline-none focus:bg-transparent "
          id="grid-password" type="text" placeholder="تاریخ برگشت">
      </label>
    </div>
  </div>
  <!-- end input time  -->
  <!-- start input passenger   -->
  <div class="flex w-2/6 space-x-5 space-x-reverse">
    <div class="flex justify-start w-1/2">
      <div class="flex h-10 bg-gray-200 rounded-xl p-2   items-center  justify-between">
        <span>
          <i class="fa-solid fa-lg opacity-50 fa-user-group"></i>
        </span>
        <label class="flex">

          <input #passengerInput
            class=" pointer-events-none select-none px-3 block  bg-transparent   text-gray-700  focus:border-gray-600  rounded-lg py-2   leading-tight focus:outline-none focus:bg-transparent "
            id="grid-password" type="text" value=" 1 مسافر">
        </label>
        <!-- passenger fild -->
        <!-- [ngClass]="openlist? 'opacity-100 translate-x-0 visible':'opacity-0 translate-x-28'" -->
        <div *ngIf="openPassengerLIst" class=" mt-3 top-full left-6  absolute z-50  rounded-2xl w-80 bg-white">
          <div class=" hidden  text-center p-4 pb-2 border-b w-full">
            <p class="text-sm text-gray-500">تعداد مسافران</p>
          </div>
          <div class="grid grid-flow-row p-4   h-60 ">

            <div class=" border-b   flex items-center justify-between ">
              <div>
                <h3>بزرگسال</h3>
                <p class="text-xs text-zinc-500">(از12 سال به بالا)</p>
              </div>
              <div class="flex">
                <button class="bg-blue-200  flex justify-center items-center rounded-lg" (click)="onAddNumberAdult()"><i
                    class="fa-solid text-blue-800 py-2 px-2 fa-lg fa-plus"></i></button>
                <p class="text-xl mx-6">{{adultPassengerCount}}</p>
                <button class="bg-blue-200  flex justify-center items-center rounded-lg"
                  (click)="onDeductionNumberAdult()"><i
                    class="fa-solid text-blue-800 py-2 px-2 fa-lg fa-minus"></i></button>
              </div>
            </div>

            <div class=" border-b flex items-center justify-between ">
              <div>
                <h3>کودک</h3>
                <p class="text-xs text-zinc-500">(از 2 تا 12 سال)</p>
              </div>
              <div class="flex">
                <div class="bg-blue-200  flex justify-center items-center rounded-lg">
                  <button (click)="onAddNumberCild()">
                    <i class="fa-solid text-blue-800 py-2 px-2 fa-lg fa-plus"></i>
                  </button>
                </div>
                <p class="text-xl mx-6">{{childPassengerCount}}</p>
                <div class="bg-blue-200  flex justify-center items-center rounded-lg">
                  <button (click)="onDeductionNumberCild()"><i
                      class="fa-solid text-blue-800 py-2 px-2 fa-lg fa-minus"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="  flex items-center justify-between ">
              <div>
                <h3>نوزاد</h3>
                <p class="text-xs text-zinc-500">(از 10روز تا 2 سال)</p>
              </div>
              <div class="flex flex-row">
                <button (click)="onAddNumberBaby()" class="bg-blue-200  flex justify-center items-center rounded-lg"><i
                    class="fa-solid text-blue-800 py-2 px-2 fa-lg fa-plus"></i></button>
                <p class="text-xl mx-6">{{babyPassengerCount}}</p>
                <button (click)="onDeductionNumberBaby()"
                  class="bg-blue-200  flex justify-center items-center rounded-lg"><i
                    class="fa-solid text-blue-800 py-2 px-2 fa-lg fa-minus"></i>
                </button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    <!-- end input passenger  -->
    <!-- start button  search -->
    <div class="w-1/2">
      <button
        class=" py-2 px-6 h-10 rounded-lg  bg-gradient-to-tl from-orange-600 to-orange-300 text-white  hover:bg-gradient-to- ">جستجو</button>
    </div>

  </div>